// .analytics-icon-1 {background: url(../images/icons/analytics-icons/lfk-analytics-yellow.png) no-repeat;width: 25px;height: 25px;display: inline-block;background-size: contain;}
// .analytics-icon-1:hover {background: url(../images/icons/analytics-icons/lfk-analytics-white.png) no-repeat;width: 25px;height: 25px;display: inline-block;background-size: contain;}

// .collab-icon-1 {background: url(../images/icons/new-icons/teamcolab_icon-yellow.png) no-repeat;width: 28px;height: 28px;display: inline-block;background-size: contain;}
// .collab-icon-1:hover {background: url(../images/icons/new-icons/teamcolab_icon-white.png) no-repeat;width: 28px;height: 28px;display: inline-block;background-size: contain;}

// .coach-payout-icon-1 {background: url(../images/icons/new-icons/coach_payout_icon.png) no-repeat;width: 28px;height: 28px;display: inline-block;background-size: contain;}
// .coach-payout-icon-1:hover {background: url(../images/icons/new-icons/coach_payout_white_icon.png) no-repeat;width: 28px;height: 28px;display: inline-block;background-size: contain;}

.analytics-icon-1 {background: url(../images/icons/header-icon/analytics.png) no-repeat; width: 34px;height: 34px; background-size: 28px 28px; display: inline-block; transition: all 4s; }
.analytics-icon-1:hover { background-size: 34px 34px; }

.collab-icon-1 {background: url(../images/icons/header-icon/collab.png) no-repeat;width: 34px;height: 34px; background-size: 28px 28px; display: inline-block; transition: all 4s; }
.collab-icon-1:hover { background-size: 34px 34px; }

.coach-payout-icon-1 {background: url(../images/icons/header-icon/coach_payouts.png) no-repeat;width: 34px;height: 34px; background-size: 28px 28px; display: inline-block; transition: all 4s; }
.coach-payout-icon-1:hover { background-size: 34px 34px; }

.notification-icon-1 {background: url(../images/icons/header-icon/notifications.png) no-repeat;width: 34px;height: 34px; background-size: 28px 28px; display: inline-block; transition: all 4s; background-position: top right; }
.notification-icon-1:hover {background: url(../images/icons/header-icon/notifications.png) no-repeat;width: 34px;height: 34px; background-size: 34px 34px; background-position: top right;}

.message-icon-1{background: url(../images/icons/menu-icon/LION_MAIL.png) no-repeat;width: 34px;height: 34px; background-size: 28px 28px; display: inline-block; transition: all 4s; }
.message-icon-1:hover {background: url(../images/icons/menu-icon/LION_MAIL.png) no-repeat;width: 34px;height: 34px; background-size: 34px 34px; display: inline-block; transition: all 4s; }

.tab-div-top .tab-a .tab-img.coach-icon-big { width: 22px; margin: -3px 5px 0px 0; object-fit: contain; }
.tab-div-top .tab-a .tab-img.site-visite-icon-big { width: 22px; margin: -4px 5px 0 0; }
.tab-div-top .row-summary-20 .tab-a .tab-img.pencile-icon { width: 17px; top: 0; }
.data-table-1 .text-left .list-inline li img.site-visit-icon { width: 22px !important; padding: 13px 0 0 0px; }
.data-table-1 .text-left .list-inline li img.share-icon { width: 18px !important; padding: 9px 0 0 0; }

/**/

.navbar-nav>li>a>.badge.badge-custom { position: absolute; top: 4px; right: 8px; background-color: rgb(230, 142, 19); color: #ffffff; padding: 0px 2px 0 2px; height: 19px; width: auto; min-width: 19px; font-size: 10px; display: flex; font-weight: 700; align-items: center; justify-content: center; border-radius: 19px; }

/**/


.full-modal-100{ 
    width: 100%; 
    h3.special-h3 {
        font-weight: 400;
        font-size: 16px;
        color: #000;
        letter-spacing: 0.28px;
        padding: 0 10px 0 0;
        margin: 6px 0 0 0;
        line-height: 30px;
        display: inline-block;
        .highlight-span {
            text-transform: uppercase;
            font-weight: 700;
            color: #002186;
            .color-light {
                color: #F2A700;
            }
        }
    }
    .arrow-graph-div {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: -10px;
        top: 100px;
        .btn.btn-link {
            background-color: #fff;
            height: 40px;
            width: 40px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 36px;
            transition: 0.8 all;
            &:hover{
                background-color: #fafafa;
            }
        }
    }
    .modal-dialog{  width: 100%; max-width: 1200px; margin: 0 auto !important; }
    .modal-header {
        padding: 15px 55px 15px 20px;
        margin: 0 0 0 0;
        border-bottom: 1px solid #EDEDED;
        display: flex;justify-content: space-between;
        h4 {  font-size: 24px; color: #000; letter-spacing: -0.5px; font-weight: 700; }
        .close.btn-animated {
            right: 20px; left: auto; top: 15px;
        }
    }

    .modal-dialog .modal-content { margin:20px 0 0 0; .modal-body{ padding: 0; } }
    .header-title{ padding: 10px 20px; margin: 0; 
        border-bottom: 1px solid #EDEDED;
        h4{ padding: 0px 0px; margin: 0; font-size: 16px; color: #000000; letter-spacing: -0.31px; }
    }

    .modal-dialog .modal-content .modal-body {
        min-height: 100%;
        max-height: calc(100vh - 105px);
    }

    .dashboard-body-section{ padding: 20px 5px; background-color: #FAFAFA; display: block; float: left;  }

    .pr-graph-0{ padding-right: 0px; }
    .pr-graph-20{ padding-right: 20px !important; }

    .analytics-number-view{ padding: 0px 0px; margin: 0 0 15px 0; float: left; width: 100%;
        .analytics-list-row{ padding: 20px 0px; margin: 0; background: #FFFFFF; border: 1px solid #EDEDED; display: flex; flex-direction: row; flex-wrap: wrap;  }
        .analytics-list-col{ padding: 0px 30px; margin: 0; display: flex; flex:0 0 25%; max-width: 25%; border-left: 1px solid #E9E9E9;
            &:first-child{border: none; padding-left: 20px; }
            .icon-round-box{ 
                padding: 0px 0px; margin: 0; height: 60px; width: 60px; display: flex; align-items: center; justify-content: center; border-radius: 100%; background-image: linear-gradient(180deg, #FCB414 0%, #EF8100 100%); 
                .icon-img{ width: 26px; }
            }
            .content-right{
                padding: 0px 0px 0 20px; margin: 0; 
                p {
                    font-size: 12px;
                    color: rgba(86, 86, 86, 0.6);
                    font-weight: 500;
                    padding: 0;
                    margin: 0;
                }
                h3 {
                    font-size: 30px;
                    color: #000000;
                    letter-spacing: 0;
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                    line-height: 42px;
                }
            }
        }
    }

    .panel-graph{
        padding: 00; margin: 0 0 20px 0; position: relative; border: 1px solid #EDEDED; background-color: #ffffff;
        .panel-header-title{
            border-bottom: 1px solid #EDEDED; padding: 15px 20px;
            h4{ padding: 0px 0px; margin: 0; 
                font-size: 14px;
                color: #000000; text-transform: capitalize  ;
                letter-spacing: -0.23px; font-weight: 600; }
        }

        .panel-body-content{
            padding: 10px 0px;
        }

        .pb0-graph{ padding-bottom: 0px; }

        .heading-top-graph {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 10px 20px;
            border-bottom: 1px solid #EDEDED; 
            h5 {
                padding: 0px 0px; margin: 0; 
                font-size: 20px;
                color: rgba(34,34,33,0.50);
                letter-spacing: 0;
                font-weight: 500;
            }
            h2 {
                padding: 0px 0px; margin: 0; 
                font-size: 30px;
                color: #222221;
                letter-spacing: 0;
                text-align: right;
                font-weight: 700;
            }
        }

        .chart-graph-common{ 
            &.column-graph-01{
                .highcharts-exporting-group { display: none; }
                .highcharts-credits { display: none; }
                .highcharts-axis.highcharts-yaxis { display: none; }
            }
        }

        .round-graph-common{
            padding: 0px 0px; margin: 0; background: #FFFFFF; display: flex; flex-direction: row; flex-wrap: wrap; 
            .graph33{
                margin: 0; display: flex; flex:0 0 33.3%; max-width: 33.3%; border-left: 1px solid #EDEDED;
                &:first-child{ border-left: none;  }
            }
            .pie-charts-div{
                width: 100%;
                .percentage-number h2 {
                    font-weight: 700;
                    font-size: 24px;
                    color: #FFFFFF;
                    letter-spacing: -0.46px;
                    text-align: center;
                    text-shadow: 0 2px 0 rgba(0,0,0,0.33);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 255px;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                }
                .pie-01{ 
                   svg{ max-width: 180px; max-height: 300px;     margin: 0 auto; }
                   .highcharts-container { width: 100% !important; height: 100% !important; }
                }
                .bottom-section-div{ 
                    border-top: 1px solid #EDEDED;
                    padding: 20px 30px 15px 30px; 
                    p{ padding: 0px 0px; margin: 0 0 5px 0; opacity: 0.5; font-weight: 400; font-size: 14px; color: #000000; letter-spacing: -0.27px; }
                    h3 {
                        padding: 0px 0px; margin: 0; 
                        font-weight: 600;
                        font-size: 24px;
                        color: #000000;
                        letter-spacing: -0.46px;
                    }
                }
                

                .highcharts-figure, .highcharts-data-table table {
                    max-width: 100%;
                    max-height: 100%;
                }
                
                .highcharts-data-table table {
                    font-family: Verdana, sans-serif;
                    border-collapse: collapse;
                    border: 1px solid #EBEBEB;
                    margin: 10px auto;
                    text-align: center;
                    width: 100%;
                    max-width: 160px;
                }

                .highcharts-data-table caption {
                    padding: 1em 0;
                    font-size: 1.2em;
                    color: #555;
                }

                .highcharts-data-table th {
                    font-weight: 600;
                    padding: 0.5em;
                }

                .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
                    padding: 0.5em;
                }

                .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
                    background: #f8f8f8;
                }

                .highcharts-data-table tr:hover {
                    background: #f1f7ff;
                }
                
                .highcharts-exporting-group { display: none; }
                .highcharts-credits { display: none; }
                .highcharts-axis.highcharts-yaxis { display: none; }
            }
        }

        &.panel-graph-donut{
            .round-graph-common .graph33{ border: none; }
            .graph33:first-child .pie-charts-div .bottom-section-div .box{ border-left: 0px solid #EBEBEB; } 
            .pie-charts-div{

                .bottom-section-div{
                    padding: 20px 0px 10px 0px;position: relative;
                    
                    .box{ padding: 0px 15px 0px 25px; border-left: 1px solid #EBEBEB; position: relative; }
                    .member-span {
                        display: block;
                        height: 10px;
                        width: 10px;
                        background: #FCB414;
                        border-radius: 100%;
                        position: absolute;
                        left: 7px;
                        top: 3px;
                        &.member-span1{ background: #FCB414; }
                        &.member-span2{ background: #FF4747; }
                        &.member-span3{ background: #002186; }
                    }
                    p {
                        font-weight: 500;
                        font-size: 12px;
                        color: #2D2D2D;
                        letter-spacing: -0.26px;
                        text-align: left;
                        line-height: 18px;
                    }
                    h3 {
                        font-size: 14px;
                        letter-spacing: 0;
                    }
                }
            }
            .donut-chart-root{
                padding: 0; margin: 0; position: relative;
                
                    svg{ max-width: 350px; max-height: 351px;     margin: 0 auto; 
                        text { font-size: 13px !important; }
                    }
                    .highcharts-container { width: 100% !important; height: 100% !important; }
                
            }


            .highcharts-exporting-group { display: none; }
            .highcharts-credits { display: none; }
            .highcharts-axis.highcharts-yaxis { display: none; }
        }

        &.panel-graph-demo{
            .panel-body-content{ padding-top: 0px; 
                .heading-top-graph{ background-color: #fcfcfc; padding: 10px 20px 10px 20px; }
            }
            .graph100 {
                width: 100%;
                .pie-charts-div .pie-01 svg {
                    max-width: 350px;
                    max-height: 351px;
                    margin: 0 auto;
                    text { font-size: 13px !important; }
                }
                .round-graph-pointer{
                    display: flex; align-items: center; justify-content: center; margin: -20px 0 20px 0;
                    .box{ padding: 10px 15px 0 30px;
                        border: 1px solid #EBEBEB;
                        position: relative;
                        display: flex;
                        align-items: center; 
                        &:first-child{ border-right:0px; border-radius: 4px 0 0 4px; }
                        &:last-child{ border-left:0px; border-radius: 0 4px 4px 0; }
                    }
                    .rate-span {
                        display: block;
                        height: 10px;
                        width: 10px;
                        background: #FCB414;
                        border-radius: 100%;
                        position: absolute;
                        left: 11px;
                        top: 14px;
                        &.rate-span1{ background: #FCB414; }
                        &.rate-span2{ background: #FF4747; }
                        &.rate-span3{ background: #002186; }
                    }
                    p {
                        font-weight: 500;
                        font-size: 12px;
                        color: #2D2D2D;
                        letter-spacing: -0.26px;
                        text-align: left;
                        line-height: 18px;
                    }
                }
            }
        }

    }

}

/* project-management */

// .collab-comments-modal{}

.Comment-chats2{margin: 0;
    .profile-cmnt {
        padding-left: 53px;width: 100%;word-break: break-all;
        .profile-name-cmnt {
            p{     margin: 0;font-size: 14px;line-height: 20px; }
            h2{    padding: 0;font-size: 13px;line-height: 20px;}
        }
    }
    .comment-text-action textarea.form-control {
        height: auto;
        margin: 0;
        width: 100% !important;
        min-height: 100px;
        max-height: 300px;
    }  
    .comments-list{
        margin: 0 0 20px 0;    padding: 10px;border: 1px solid #f2f2f2;border-radius: 8px 8px;
    } 
    .profile-cmnt {
        padding-left: 46px;
        .profile-thumb-cmnt {
            width: auto; height: auto; position: absolute; left: 0; top: 0;
            img{ width: 36px; height: 36px; border-radius: 100px;  }
        }
    }
    .comment-times .dropdown a.drop-down-comment {
        padding: 0;
        margin: 0px 0 10px 0;
    }
}

.comments-list-view{ 
    margin: 0 0 10px 0;  
}

.main-body-collab { padding: 5px 20px; margin: 0 0 20px 0; position: relative; border: 1px solid #d9d9d9; border-radius: 8px;    min-height: calc(100vh - 60px);
    .comments-section-modal { margin-bottom: 30px; display: block; width: 100%;  
        
    }
    .comment-reply { position: relative; width: 100%; }
    .list-items { padding-left: 15px;margin: 0 0 0 0;}
}

.topic-header-team { display: flex; align-items: center; padding: 15px 0 15px 0; margin: 0 0 10px 0;
    h2 { padding: 0; margin: 0; font-size: 21px;}
}

.submit-button-row{
    display: flex;
    margin: 10px 0px;
    justify-content: flex-end;
}

/* End of project-management */

/* notification-modal */

.img-notifaction{ height: 38px; width: 38px; }
.main-body-notification{ 
    .topic-header-team { border-bottom: 1px solid #ddd; }  
}

.comments-modal-right .modal-header .close { max-width: 24px; }

.notification-section-modal{     padding: 20px 0 0 0;
    .notification-list-view{
        .list-items{
            position: relative; padding: 20px 15px; margin: 0 0 20px 0; display: flex; flex-direction: row; border: 1px solid #f2f2f2; border-radius: 8px; transition: 0.8s all;
            .list-profile { display: flex; margin-right: 10px; min-width: 40px; }
            .list-content{
                width: calc(100% - 50px); position: relative;
                h3{ position: relative; padding: 0 90px 0 0;width: 100%; }
                .prag-ques{ position: relative; padding: 0 0px 0 0;width: 100%;  
                //    display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; 
                white-space: normal; }
                .prag-ques {
                    font-weight: 600; color: #666;     line-height: 20px;
                    .span-questions{ font-weight: 400; }
                }
                p{ white-space: normal; width: 100%; }
                .desc-text {
                    padding: 5px 0 0 0;
                    p{
                        padding: 0; line-height: 20px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; overflow: hidden; 
                    }
                }
            }
            span.closebtn {
                opacity: 0; font-weight: 300 !important; line-height: 1; color: rgba(102, 102, 102, 0.8); font-size: 36px; position: absolute; top: -35px; right: -28px; background-color: #eee; border-radius: 100%; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;
                transition: 0.8s all;
                &:hover{
                    background-color: #fdb413; color: #fff;
                }
            }
            span.time-update { padding: 0; margin: 0; color: rgba(102, 102, 102, 0.7); font-weight: 500; position: absolute; top: 0; right: 0; }

            &:hover{
                span.closebtn{ 
                    opacity: 1;
                }
            }

        }
    }
}

/* End of notification-modal */

/* real-time-payout-modal */

.real-time-payout-modal{
    .topic-header-realtime{
        padding: 15px 0 5px 0;
        .icon-prjctmgmt { height: 40px; width: 40px; margin-right: 15px; }
    }
    .text-top-next { padding: 0; margin: 0 0 20px 0; position: relative; display: flex; align-items: center;
        h4 { padding: 0; margin: 0; font-size: 16px; font-weight: 600; 
            .font-400{ font-weight: 400; }
        }

    }

    .real-table-div{
        padding: 0; margin: 0; position: relative;
        .row-flex{ display: flex; flex-wrap: wrap; border: 1px solid #eee; }
        .flex-70{ display: flex; align-items: center; flex: 0 0 70%; max-width: 70%; width: 100%; position: relative; border-right: 1px solid #eee; }
        .flex-30{ display: flex; align-items: center; flex: 0 0 30%; max-width: 30%; width: 100%; position: relative; }
        .font-600{ font-weight: 600; }
        .body-table-real{
            padding: 0; margin: 0; position: relative;
        }
        .user-img-div{
            padding: 0; margin: 0; position: relative;display: flex; align-items: center; 
            .img-thumb{
                padding: 8px 15px 8px 15px; margin: 0; min-width: 65px;
                .img-responsive{ height: 35px; width: 35px; object-fit: cover; border-radius: 100%; }
            }
            .text-user{
                padding: 8px 0 8px 0px; margin: 0; width: 100%;
                p{ padding: 0; margin: 0; font-size: 14px;     white-space: nowrap; width: 100%; overflow: hidden; max-width: 245px; text-overflow: ellipsis; }
            }
        }
        .show-acc-records{ display: flex; align-items: center;      padding: 5px 15px;
            .display-tringle-img{ width: 14px; margin: 0 5px 0 0;
                .img-15px{ width: 14px; }
            }
            .display-regnumber { font-size: 14px; font-weight: 500; }
        }
        .prise-text{
            padding: 8px 15px 8px 15px; margin: 0; font-size: 14px;  font-weight: 500;
        }
        .footer-table-real{
            padding: 0; margin: 0; position: relative;
            .row-flex{ background-color: #eee;     padding-right: 12px; }
            h5{ padding: 0 0 0 15px;  }

        }
    }

    .panel-payout-root{
        max-height: calc(100vh - 250px); margin: 0;    overflow: auto; overflow-x: hidden; border-top: 0px solid #eee; background-color: transparent;

        .panel-heading { padding: 0; border: none; 
            .row-flex.collapsed { background-color: #ffffff; }
            .row-flex{ border:none !important; cursor: pointer;background-color: #fafafa; }
            .row-flex.collapsed .text-user p{ font-weight: 400; }
            .row-flex .text-user p{ font-weight: 600; }
            .row-flex.collapsed .text-user p{ font-weight: 400; }
            .row-flex .prise-text{ font-weight: 600; }
            .row-flex.collapsed .prise-text{ font-weight: 500; }
            .row-flex .show-acc-records .display-regnumber{ font-weight: 600; }
            .row-flex.collapsed .show-acc-records .display-regnumber{ font-weight: 500; }
        }
        .panel { margin: 0;margin-bottom: 0; border-radius: 0px; border-color: #eee; box-shadow: none; }
        .panel-body { padding: 0; border: none; border-color: #eee; 
            .text-user{  p{ margin-bottom: 0;    padding: 8px 15px; } }
            .row-flex{ border: 0px solid #eee; border-bottom: 1px solid #eee; }
        }
        .user-title { flex: 0 0 100%; max-width: 100%; width: 100%; margin: 0; }
        .user-title h4 { padding: 8px 15px; margin: 0; background-color: #eee; font-size: 16px; line-height: 24px; font-weight: 500; }
        
    }

}



/* End of real-time-payout-modal */


/*  revenue-modal-slider  */

.icon-revenue{ width: 24px; }

.revenue-modal-slider{ max-width: 100%; width: 100%; }
.revenue-modal-slider .content-wrapper.content-area-div { width: 100%; max-width: 100%; display: block; }
.revenue-modal-slider .modal-header{padding: 0px 0px 0px 10px;}
.revenue-modal-slider .modal-header .close.btn-animated { right: auto; left: auto; top: auto; position: relative; }
.revenue-modal-slider .middle-area-div { padding: 40px 20px; }
.revenue-modal-slider .modal-dialog .modal-content .modal-body{ overflow-y: scroll; }
.revenue-modal-slider .top-filter-section { flex-direction: row; }

.sessions-form-modal{
    max-width: 100%; width: 100%;
    .modal-dialog .modal-content .modal-body{ overflow-x: hidden; }
    &.comments-modal-right .modal-dialog {
        margin: 20px auto 0 auto !important;
        width: 600px;
        min-height: 95%;
        width: 100%;
        max-width: 1200px;
    }
}

.revenue-modal-slider .page-header.page-header-top { margin: 0 0 0px 1px !important; }

/* End of revenue-modal-slider  */

/* Class Revenue Tracker */


.heading-title-top{
    padding: 0; margin: 0; position: relative;
    h1 {
        background-color: #fff;
        padding: 10px 15px;
        margin: 0;
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
        line-height: 28px;
        text-transform: capitalize;
        font-weight: 500;
    }
}

span.gross-prize {
    font-weight: 500;
}

/* End of Class Revenue Tracker */

/*  Login  */

.free-trial-login-popup{
    .modal-header { border: none; padding: 0;     min-height: 0;
        .close.btn-animated { right: 20px; left: auto; top: 15px; color: #fff; opacity: 1; z-index: 1; }
    }
    .modal-dialog .modal-content .modal-body { min-height: 100%; max-height: none; }
    .modal-content { background: #000 url(../images/blue-filter.png) no-repeat; background-size: cover; min-height: 100%; }

    .login-div{ height: auto; padding: 70px 0; min-height: calc(100vh - 52px); 
        .container { width: 100%; max-width: 1100px; }
    }
    .logo-div-left { height: auto; min-height: 350px; }
    
    .login-btn-div { position: relative; }
    
    .checked-icon-div { position: absolute; top: 0; right: -56px; min-height: 50px; display: flex; align-items: center; justify-content: center; display: none;
        .icon-check { width: 36px; }
    }

    // .logo-div-left{ -webkit-animation-name: slideInLeft; animation-name: slideInLeft; animation-duration: 2s;  }
    // .login-form{ -webkit-animation-name: slideInRight; animation-name: slideInRight; animation-duration: 2s;  }

    .login-btn-div.active{
        .checked-icon-div{ display:flex; -webkit-animation-name: slideInRight; animation-name: slideInRight; animation-duration: 2s; }
    }
    

}

@-webkit-keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
@keyframes slideInRight {
from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
}

to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
}

/* End of Login  */

@media screen and (max-width:767px){

    .notification-icon-1 { background-position: top left; }

    .full-modal-100 {
        position: fixed;
        .modal-header{ flex-direction: column; }
        .dashboard-body-section { float: none; }
        .analytics-number-view { float: none; 
            .analytics-list-row{
                flex-direction: column;
                .analytics-list-col{
                    padding: 10px 20px;
                    flex: 0 0 100%;
                    max-width: 100%;
                    .content-right {
                        h3 {
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }
                    .icon-round-box {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
        .pr-graph-0 {
            padding-right: 15px;
        }
        .panel-graph {
            .round-graph-common {
                flex-direction: column;
                .graph33 {
                    flex: 0 0 100%;
                    max-width: 100%;
                    border-left: 0px solid #EDEDED;
                }
                .pie-charts-div {
                    .bottom-section-div {
                        border-top: 1px solid #EDEDED;
                        border-bottom: 1px solid #EDEDED;
                        padding: 20px 20px 15px 20px;
                        background-color: #fafafa;
                        text-align: center;
                    }
                }
            }
            .heading-top-graph {
                h5 {
                    font-size: 14px;
                }
                h2{
                    font-size: 24px;
                }
            }
            &.panel-graph-donut {
                .pie-charts-div {
                    .bottom-section-div {
                        h3 {
                            font-size: 14px;
                            letter-spacing: 0;
                            text-align: left;
                        }
                        .box{
                            border:none;
                        }
                    }
                }
            }
            &.panel-graph-donut{
                .panel-body-content {
                    padding: 10px 0px 0 0;
                }
            }
            &.panel-graph-demo {
                .graph100 {
                    .round-graph-pointer {
                        .rate-span {
                            height: 5px;
                            width: 5px;
                            left: 8px;
                            top: 17px;
                        }
                        .box{
                            padding: 10px 15px 0 20px;
                        }
                    }
                }
            }
        }
    }

    /* project-management */

    .comments-modal-right {
        position: fixed;
        right: auto;
        top: 0;
        bottom: auto;
        .modal-dialog .modal-content{
            height: 100vh;
            overflow-y: scroll;
        }
    }

    .collab-comments-modal {
        .modal-dialog .modal-content {
            border-radius: 10px 10px 0 10px !important;
            .modal-body{
                padding: 0 10px;
                .main-body-collab {
                    padding: 5px 10px;
                }
            }
        }
    }

    div#add-task-collab {
        z-index: 99999999 !important;
    }

    .collab-comments-modal{
        .comment-header { flex-direction: column; }
        .Comment-chats2 .profile-cmnt { padding-bottom: 5px; }
    }

    .Comment-chats2 .comment-times .dropdown a.drop-down-comment i {
        margin: 0 5px 0 0;
        font-size: 20px;
    }

    /* End of project-management */

    /* notification-modal */

    .notification-section-modal {
        .notification-list-view {
            .list-items {
                .list-content {
                    width: calc(100% - 50px); position: relative; margin: 0;
                    span.closebtn{
                        opacity: 1; right: -15px; top: -20px; font-size: 24px; height: 24px; width: 24px; border-radius: 0px 4px 0 10px;
                    }
                }
                span.time-update{
                    font-size: 12px;
                    line-height: 26px;
                }
            }
        }
    }

    .comments-modal-right.animated {
        width: 100%;
    }

    /* End of notification-modal */

    /* real-time-payout-modal */

    .real-time-payout-modal{
        .topic-header-realtime{ h2{     font-size: 16px; } .icon-prjctmgmt { margin-right: 10px; } }
        .text-top-next { h4 { font-size: 14px; } }
        .real-table-div {
            .user-img-div {
                .img-thumb{     padding: 8px 10px 8px 10px; min-width: 55px; }
                .text-user {
                    p { max-width: 125px; }
                }
            }
            .footer-table-real {
                h5 {
                    padding: 0 0 0 10px;
                    font-size: 14px;
                }
            }
        }

    }
    
    /* End of real-time-payout-modal */

    /*  revenue-modal-slider  */

    .revenue-modal-slider .content-area-div { margin: 0 auto 0 auto; padding: 0; }
    .revenue-modal-slider .page-header-top .page-title { padding: 12px 20px 12px 0; }
    .revenue-modal-slider .middle-area-div { padding: 20px 20px; }

    /*  End of revenue-modal-slider  */

    /*  Login  */

    .free-trial-login-popup{
        .modal-dialog .modal-content{ margin:0 0 0 0; 
            .modal-body { min-height: 100%; max-height: 100vh; overflow-y: scroll; }
        }
        .logo-div-left { height: auto; min-height: auto; margin: 0; }
        .login-div{     min-height: 100vh; padding: 50px 0; }
        .modal-header {
            .close.btn-animated { right: 10px; top: 10px; }
        }
        .login-btn-div.active {
            .free-trial-submit { width: calc(100% - 56px); }
            .checked-icon-div{ right:0; }
        }
    }

}

@media screen and (max-width:340px){

    .real-time-payout-modal {
        .topic-header-realtime {
            .icon-prjctmgmt { object-fit: contain; object-position: top; }
        }
        .real-table-div {
            .flex-70 { flex: 0 0 65%; max-width: 65%; }
            .show-acc-records { padding: 5px 10px; }
            .prise-text { padding: 8px 10px 8px 10px; }
        }
        .panel-payout-root {
            .user-title {
                h4 { padding: 8px 10px; font-size: 14px; }
            }
            .panel-body {
                .text-user {
                    p { padding: 8px 10px; font-size: 12px; }
                }
                .prise-text { font-size: 12px; }
            }
        }
    }

}

@media screen and (min-width:768px) and (max-width:1024px){

    .notification-icon-1 { background-position: top left; }

    .full-modal-100 {
        position: fixed;  z-index: 999999999;
        .dashboard-body-section { float: none; }
        .analytics-number-view { float: none; 
            .analytics-list-row{
                
                .analytics-list-col{
                    padding: 10px 20px;
                    flex: 0 0 50%;
                    max-width: 50%;
                    .content-right {
                        h3 {
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }
                    .icon-round-box {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
      
        .pr-graph-0 {
            padding-right: 15px;
        }
        
        .panel-graph {
            .round-graph-common {
                .pie-charts-div {
                    .bottom-section-div {
                        border-top: 1px solid #EDEDED;
                        border-bottom: 1px solid #EDEDED;
                        padding: 20px 20px 15px 20px;
                        background-color: #fafafa;
                        text-align: center;
                    }
                }
            }
            .heading-top-graph {
                h5 {
                    font-size: 14px;
                }
                h2{
                    font-size: 24px;
                }
            }
            &.panel-graph-donut {
                .pie-charts-div {
                    .bottom-section-div {
                        h3 {
                            font-size: 14px;
                            letter-spacing: 0;
                            text-align: left;
                        }
                        // .box{
                        //     border:none;
                        // }
                    }
                }
            }
            &.panel-graph-donut{
                .panel-body-content {
                    padding: 10px 0px 0 0;
                }
            }
            
        }

        .panel-graph.panel-graph-donut .donut-chart-root svg {
            max-width: 660px;
            max-height: 351px;
            margin: 0 auto;
            
        }

    }

    div#add-task-collab {
        z-index: 99999999 !important;
    }

    .collab-comments-modal {    left: 0;
        .modal-dialog {width: 100%;
            .modal-content { border-radius: 10px 10px 0 10px !important;
                .modal-body{ padding: 0 10px;
                    .main-body-collab { padding: 5px 10px; } 
                }
            }
        }
    }

    /* notification-modal */

    .notification-section-modal {
        .notification-list-view {
            .list-items {
                .list-content {
                    width: calc(100% - 50px); position: relative; margin: 0;
                    span.closebtn{
                        opacity: 1; right: -5px;
                        // right: -15px; top: -20px; font-size: 24px; height: 24px; width: 24px; border-radius: 0px 4px 0 10px;
                    }
                }
                span.time-update{
                    font-size: 12px;
                    line-height: 26px;
                }
            }
        }
    }

    .comments-modal-right.animated {
        width: 100%;
    }

    /* End of notification-modal */

    /*  revenue-modal-slider  */

    .revenue-modal-slider .content-area-div { margin: 0 auto 0 auto; padding: 0; }
    .revenue-modal-slider .page-header-top .page-title { padding: 12px 20px 12px 0; }
    .revenue-modal-slider .middle-area-div { padding: 20px 20px; }

    /*  End of revenue-modal-slider  */

    /*  Login  */

    .free-trial-login-popup{
        .modal-dialog .modal-content{ margin:0 0 0 0; 
            .modal-body { min-height: 100%; max-height: 100vh; overflow-y: scroll; }
        }
        .logo-div-left { height: auto; min-height: auto; margin: 0; }
        .login-div{    min-height: calc(100vh - 10px); padding: 50px 0; }
        .login-form { margin: 0 auto; padding: 0px 0 0 0; max-width: 400px; }
        .modal-header {
            .close.btn-animated { right: 10px; top: 10px; }
        }
        .login-btn-div.active {
            .free-trial-submit { width: calc(100% - 56px); }
            .checked-icon-div{ right:0; }
        }
        .logo-div-left .img-thumb img { width: 300px; }
    }

}

@media screen and (min-width:1024px) and (max-width:1366px){

    .free-trial-login-popup .logo-div-left .img-thumb img { width: 300px; height: 500px; object-fit: contain; }

}

@media screen and (min-width:1499px) and (max-width:1900px){

    .active-general-01 .data-table-1.table-div .table>tbody>tr>td.width-25per, .table>thead>tr>th.width-25per {
        width: 25%!important; float: none; max-width: 232px !important;
        .list-inline.class-summary-inline01{
            max-width: 220px !important;
        }

    }

}