.analytics-icon-1 {
  background: url(../images/icons/header-icon/analytics.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 28px 28px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.analytics-icon-1:hover {
  background-size: 34px 34px;
}

.collab-icon-1 {
  background: url(../images/icons/header-icon/collab.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 28px 28px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.collab-icon-1:hover {
  background-size: 34px 34px;
}

.coach-payout-icon-1 {
  background: url(../images/icons/header-icon/coach_payouts.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 28px 28px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.coach-payout-icon-1:hover {
  background-size: 34px 34px;
}

.notification-icon-1 {
  background: url(../images/icons/header-icon/notifications.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 28px 28px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
  background-position: top right;
}

.notification-icon-1:hover {
  background: url(../images/icons/header-icon/notifications.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
  background-position: top right;
}

.message-icon-1 {
  background: url(../images/icons/menu-icon/LION_MAIL.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 28px 28px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.message-icon-1:hover {
  background: url(../images/icons/menu-icon/LION_MAIL.png) no-repeat;
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
  display: inline-block;
  -webkit-transition: all 4s;
  transition: all 4s;
}

.tab-div-top .tab-a .tab-img.coach-icon-big {
  width: 22px;
  margin: -3px 5px 0px 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.tab-div-top .tab-a .tab-img.site-visite-icon-big {
  width: 22px;
  margin: -4px 5px 0 0;
}

.tab-div-top .row-summary-20 .tab-a .tab-img.pencile-icon {
  width: 17px;
  top: 0;
}

.data-table-1 .text-left .list-inline li img.site-visit-icon {
  width: 22px !important;
  padding: 13px 0 0 0px;
}

.data-table-1 .text-left .list-inline li img.share-icon {
  width: 18px !important;
  padding: 9px 0 0 0;
}

/**/
.navbar-nav > li > a > .badge.badge-custom {
  position: absolute;
  top: 4px;
  right: 8px;
  background-color: #e68e13;
  color: #ffffff;
  padding: 0px 2px 0 2px;
  height: 19px;
  width: auto;
  min-width: 19px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 19px;
}

/**/
.full-modal-100 {
  width: 100%;
}

.full-modal-100 h3.special-h3 {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.28px;
  padding: 0 10px 0 0;
  margin: 6px 0 0 0;
  line-height: 30px;
  display: inline-block;
}

.full-modal-100 h3.special-h3 .highlight-span {
  text-transform: uppercase;
  font-weight: 700;
  color: #002186;
}

.full-modal-100 h3.special-h3 .highlight-span .color-light {
  color: #F2A700;
}

.full-modal-100 .arrow-graph-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -10px;
  top: 100px;
}

.full-modal-100 .arrow-graph-div .btn.btn-link {
  background-color: #fff;
  height: 40px;
  width: 40px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 36px;
  -webkit-transition: 0.8 all;
  transition: 0.8 all;
}

.full-modal-100 .arrow-graph-div .btn.btn-link:hover {
  background-color: #fafafa;
}

.full-modal-100 .modal-dialog {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto !important;
}

.full-modal-100 .modal-header {
  padding: 15px 55px 15px 20px;
  margin: 0 0 0 0;
  border-bottom: 1px solid #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-modal-100 .modal-header h4 {
  font-size: 24px;
  color: #000;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.full-modal-100 .modal-header .close.btn-animated {
  right: 20px;
  left: auto;
  top: 15px;
}

.full-modal-100 .modal-dialog .modal-content {
  margin: 20px 0 0 0;
}

.full-modal-100 .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.full-modal-100 .header-title {
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #EDEDED;
}

.full-modal-100 .header-title h4 {
  padding: 0px 0px;
  margin: 0;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.31px;
}

.full-modal-100 .modal-dialog .modal-content .modal-body {
  min-height: 100%;
  max-height: calc(100vh - 105px);
}

.full-modal-100 .dashboard-body-section {
  padding: 20px 5px;
  background-color: #FAFAFA;
  display: block;
  float: left;
}

.full-modal-100 .pr-graph-0 {
  padding-right: 0px;
}

.full-modal-100 .pr-graph-20 {
  padding-right: 20px !important;
}

.full-modal-100 .analytics-number-view {
  padding: 0px 0px;
  margin: 0 0 15px 0;
  float: left;
  width: 100%;
}

.full-modal-100 .analytics-number-view .analytics-list-row {
  padding: 20px 0px;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full-modal-100 .analytics-number-view .analytics-list-col {
  padding: 0px 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  border-left: 1px solid #E9E9E9;
}

.full-modal-100 .analytics-number-view .analytics-list-col:first-child {
  border: none;
  padding-left: 20px;
}

.full-modal-100 .analytics-number-view .analytics-list-col .icon-round-box {
  padding: 0px 0px;
  margin: 0;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FCB414), to(#EF8100));
  background-image: linear-gradient(180deg, #FCB414 0%, #EF8100 100%);
}

.full-modal-100 .analytics-number-view .analytics-list-col .icon-round-box .icon-img {
  width: 26px;
}

.full-modal-100 .analytics-number-view .analytics-list-col .content-right {
  padding: 0px 0px 0 20px;
  margin: 0;
}

.full-modal-100 .analytics-number-view .analytics-list-col .content-right p {
  font-size: 12px;
  color: rgba(86, 86, 86, 0.6);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.full-modal-100 .analytics-number-view .analytics-list-col .content-right h3 {
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 42px;
}

.full-modal-100 .panel-graph {
  padding: 00;
  margin: 0 0 20px 0;
  position: relative;
  border: 1px solid #EDEDED;
  background-color: #ffffff;
}

.full-modal-100 .panel-graph .panel-header-title {
  border-bottom: 1px solid #EDEDED;
  padding: 15px 20px;
}

.full-modal-100 .panel-graph .panel-header-title h4 {
  padding: 0px 0px;
  margin: 0;
  font-size: 14px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: -0.23px;
  font-weight: 600;
}

.full-modal-100 .panel-graph .panel-body-content {
  padding: 10px 0px;
}

.full-modal-100 .panel-graph .pb0-graph {
  padding-bottom: 0px;
}

.full-modal-100 .panel-graph .heading-top-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px 10px 20px;
  border-bottom: 1px solid #EDEDED;
}

.full-modal-100 .panel-graph .heading-top-graph h5 {
  padding: 0px 0px;
  margin: 0;
  font-size: 20px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  font-weight: 500;
}

.full-modal-100 .panel-graph .heading-top-graph h2 {
  padding: 0px 0px;
  margin: 0;
  font-size: 30px;
  color: #222221;
  letter-spacing: 0;
  text-align: right;
  font-weight: 700;
}

.full-modal-100 .panel-graph .chart-graph-common.column-graph-01 .highcharts-exporting-group {
  display: none;
}

.full-modal-100 .panel-graph .chart-graph-common.column-graph-01 .highcharts-credits {
  display: none;
}

.full-modal-100 .panel-graph .chart-graph-common.column-graph-01 .highcharts-axis.highcharts-yaxis {
  display: none;
}

.full-modal-100 .panel-graph .round-graph-common {
  padding: 0px 0px;
  margin: 0;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full-modal-100 .panel-graph .round-graph-common .graph33 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  max-width: 33.3%;
  border-left: 1px solid #EDEDED;
}

.full-modal-100 .panel-graph .round-graph-common .graph33:first-child {
  border-left: none;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div {
  width: 100%;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .percentage-number h2 {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.46px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 255px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .pie-01 svg {
  max-width: 180px;
  max-height: 300px;
  margin: 0 auto;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .pie-01 .highcharts-container {
  width: 100% !important;
  height: 100% !important;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .bottom-section-div {
  border-top: 1px solid #EDEDED;
  padding: 20px 30px 15px 30px;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .bottom-section-div p {
  padding: 0px 0px;
  margin: 0 0 5px 0;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.27px;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .bottom-section-div h3 {
  padding: 0px 0px;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  letter-spacing: -0.46px;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-figure, .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table table {
  max-width: 100%;
  max-height: 100%;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 160px;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table td, .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table th, .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table caption {
  padding: 0.5em;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table thead tr, .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-exporting-group {
  display: none;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-credits {
  display: none;
}

.full-modal-100 .panel-graph .round-graph-common .pie-charts-div .highcharts-axis.highcharts-yaxis {
  display: none;
}

.full-modal-100 .panel-graph.panel-graph-donut .round-graph-common .graph33 {
  border: none;
}

.full-modal-100 .panel-graph.panel-graph-donut .graph33:first-child .pie-charts-div .bottom-section-div .box {
  border-left: 0px solid #EBEBEB;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div {
  padding: 20px 0px 10px 0px;
  position: relative;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .box {
  padding: 0px 15px 0px 25px;
  border-left: 1px solid #EBEBEB;
  position: relative;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .member-span {
  display: block;
  height: 10px;
  width: 10px;
  background: #FCB414;
  border-radius: 100%;
  position: absolute;
  left: 7px;
  top: 3px;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .member-span.member-span1 {
  background: #FCB414;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .member-span.member-span2 {
  background: #FF4747;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .member-span.member-span3 {
  background: #002186;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div p {
  font-weight: 500;
  font-size: 12px;
  color: #2D2D2D;
  letter-spacing: -0.26px;
  text-align: left;
  line-height: 18px;
}

.full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div h3 {
  font-size: 14px;
  letter-spacing: 0;
}

.full-modal-100 .panel-graph.panel-graph-donut .donut-chart-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.full-modal-100 .panel-graph.panel-graph-donut .donut-chart-root svg {
  max-width: 350px;
  max-height: 351px;
  margin: 0 auto;
}

.full-modal-100 .panel-graph.panel-graph-donut .donut-chart-root svg text {
  font-size: 13px !important;
}

.full-modal-100 .panel-graph.panel-graph-donut .donut-chart-root .highcharts-container {
  width: 100% !important;
  height: 100% !important;
}

.full-modal-100 .panel-graph.panel-graph-donut .highcharts-exporting-group {
  display: none;
}

.full-modal-100 .panel-graph.panel-graph-donut .highcharts-credits {
  display: none;
}

.full-modal-100 .panel-graph.panel-graph-donut .highcharts-axis.highcharts-yaxis {
  display: none;
}

.full-modal-100 .panel-graph.panel-graph-demo .panel-body-content {
  padding-top: 0px;
}

.full-modal-100 .panel-graph.panel-graph-demo .panel-body-content .heading-top-graph {
  background-color: #fcfcfc;
  padding: 10px 20px 10px 20px;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 {
  width: 100%;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .pie-charts-div .pie-01 svg {
  max-width: 350px;
  max-height: 351px;
  margin: 0 auto;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .pie-charts-div .pie-01 svg text {
  font-size: 13px !important;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -20px 0 20px 0;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .box {
  padding: 10px 15px 0 30px;
  border: 1px solid #EBEBEB;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .box:first-child {
  border-right: 0px;
  border-radius: 4px 0 0 4px;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .box:last-child {
  border-left: 0px;
  border-radius: 0 4px 4px 0;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .rate-span {
  display: block;
  height: 10px;
  width: 10px;
  background: #FCB414;
  border-radius: 100%;
  position: absolute;
  left: 11px;
  top: 14px;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .rate-span.rate-span1 {
  background: #FCB414;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .rate-span.rate-span2 {
  background: #FF4747;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .rate-span.rate-span3 {
  background: #002186;
}

.full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer p {
  font-weight: 500;
  font-size: 12px;
  color: #2D2D2D;
  letter-spacing: -0.26px;
  text-align: left;
  line-height: 18px;
}

/* project-management */
.Comment-chats2 {
  margin: 0;
}

.Comment-chats2 .profile-cmnt {
  padding-left: 53px;
  width: 100%;
  word-break: break-all;
}

.Comment-chats2 .profile-cmnt .profile-name-cmnt p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.Comment-chats2 .profile-cmnt .profile-name-cmnt h2 {
  padding: 0;
  font-size: 13px;
  line-height: 20px;
}

.Comment-chats2 .comment-text-action textarea.form-control {
  height: auto;
  margin: 0;
  width: 100% !important;
  min-height: 100px;
  max-height: 300px;
}

.Comment-chats2 .comments-list {
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 8px 8px;
}

.Comment-chats2 .profile-cmnt {
  padding-left: 46px;
}

.Comment-chats2 .profile-cmnt .profile-thumb-cmnt {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.Comment-chats2 .profile-cmnt .profile-thumb-cmnt img {
  width: 36px;
  height: 36px;
  border-radius: 100px;
}

.Comment-chats2 .comment-times .dropdown a.drop-down-comment {
  padding: 0;
  margin: 0px 0 10px 0;
}

.comments-list-view {
  margin: 0 0 10px 0;
}

.main-body-collab {
  padding: 5px 20px;
  margin: 0 0 20px 0;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  min-height: calc(100vh - 60px);
}

.main-body-collab .comments-section-modal {
  margin-bottom: 30px;
  display: block;
  width: 100%;
}

.main-body-collab .comment-reply {
  position: relative;
  width: 100%;
}

.main-body-collab .list-items {
  padding-left: 15px;
  margin: 0 0 0 0;
}

.topic-header-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 0;
  margin: 0 0 10px 0;
}

.topic-header-team h2 {
  padding: 0;
  margin: 0;
  font-size: 21px;
}

.submit-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* End of project-management */
/* notification-modal */
.img-notifaction {
  height: 38px;
  width: 38px;
}

.main-body-notification .topic-header-team {
  border-bottom: 1px solid #ddd;
}

.comments-modal-right .modal-header .close {
  max-width: 24px;
}

.notification-section-modal {
  padding: 20px 0 0 0;
}

.notification-section-modal .notification-list-view .list-items {
  position: relative;
  padding: 20px 15px;
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.notification-section-modal .notification-list-view .list-items .list-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  min-width: 40px;
}

.notification-section-modal .notification-list-view .list-items .list-content {
  width: calc(100% - 50px);
  position: relative;
}

.notification-section-modal .notification-list-view .list-items .list-content h3 {
  position: relative;
  padding: 0 90px 0 0;
  width: 100%;
}

.notification-section-modal .notification-list-view .list-items .list-content .prag-ques {
  position: relative;
  padding: 0 0px 0 0;
  width: 100%;
  white-space: normal;
}

.notification-section-modal .notification-list-view .list-items .list-content .prag-ques {
  font-weight: 600;
  color: #666;
  line-height: 20px;
}

.notification-section-modal .notification-list-view .list-items .list-content .prag-ques .span-questions {
  font-weight: 400;
}

.notification-section-modal .notification-list-view .list-items .list-content p {
  white-space: normal;
  width: 100%;
}

.notification-section-modal .notification-list-view .list-items .list-content .desc-text {
  padding: 5px 0 0 0;
}

.notification-section-modal .notification-list-view .list-items .list-content .desc-text p {
  padding: 0;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.notification-section-modal .notification-list-view .list-items span.closebtn {
  opacity: 0;
  font-weight: 300 !important;
  line-height: 1;
  color: rgba(102, 102, 102, 0.8);
  font-size: 36px;
  position: absolute;
  top: -35px;
  right: -28px;
  background-color: #eee;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.notification-section-modal .notification-list-view .list-items span.closebtn:hover {
  background-color: #fdb413;
  color: #fff;
}

.notification-section-modal .notification-list-view .list-items span.time-update {
  padding: 0;
  margin: 0;
  color: rgba(102, 102, 102, 0.7);
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
}

.notification-section-modal .notification-list-view .list-items:hover span.closebtn {
  opacity: 1;
}

/* End of notification-modal */
/* real-time-payout-modal */
.real-time-payout-modal .topic-header-realtime {
  padding: 15px 0 5px 0;
}

.real-time-payout-modal .topic-header-realtime .icon-prjctmgmt {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.real-time-payout-modal .text-top-next {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.real-time-payout-modal .text-top-next h4 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.real-time-payout-modal .text-top-next h4 .font-400 {
  font-weight: 400;
}

.real-time-payout-modal .real-table-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.real-time-payout-modal .real-table-div .row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #eee;
}

.real-time-payout-modal .real-table-div .flex-70 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  width: 100%;
  position: relative;
  border-right: 1px solid #eee;
}

.real-time-payout-modal .real-table-div .flex-30 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  width: 100%;
  position: relative;
}

.real-time-payout-modal .real-table-div .font-600 {
  font-weight: 600;
}

.real-time-payout-modal .real-table-div .body-table-real {
  padding: 0;
  margin: 0;
  position: relative;
}

.real-time-payout-modal .real-table-div .user-img-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.real-time-payout-modal .real-table-div .user-img-div .img-thumb {
  padding: 8px 15px 8px 15px;
  margin: 0;
  min-width: 65px;
}

.real-time-payout-modal .real-table-div .user-img-div .img-thumb .img-responsive {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.real-time-payout-modal .real-table-div .user-img-div .text-user {
  padding: 8px 0 8px 0px;
  margin: 0;
  width: 100%;
}

.real-time-payout-modal .real-table-div .user-img-div .text-user p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  max-width: 245px;
  text-overflow: ellipsis;
}

.real-time-payout-modal .real-table-div .show-acc-records {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
}

.real-time-payout-modal .real-table-div .show-acc-records .display-tringle-img {
  width: 14px;
  margin: 0 5px 0 0;
}

.real-time-payout-modal .real-table-div .show-acc-records .display-tringle-img .img-15px {
  width: 14px;
}

.real-time-payout-modal .real-table-div .show-acc-records .display-regnumber {
  font-size: 14px;
  font-weight: 500;
}

.real-time-payout-modal .real-table-div .prise-text {
  padding: 8px 15px 8px 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.real-time-payout-modal .real-table-div .footer-table-real {
  padding: 0;
  margin: 0;
  position: relative;
}

.real-time-payout-modal .real-table-div .footer-table-real .row-flex {
  background-color: #eee;
  padding-right: 12px;
}

.real-time-payout-modal .real-table-div .footer-table-real h5 {
  padding: 0 0 0 15px;
}

.real-time-payout-modal .panel-payout-root {
  max-height: calc(100vh - 250px);
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  border-top: 0px solid #eee;
  background-color: transparent;
}

.real-time-payout-modal .panel-payout-root .panel-heading {
  padding: 0;
  border: none;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex.collapsed {
  background-color: #ffffff;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex {
  border: none !important;
  cursor: pointer;
  background-color: #fafafa;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex.collapsed .text-user p {
  font-weight: 400;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex .text-user p {
  font-weight: 600;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex.collapsed .text-user p {
  font-weight: 400;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex .prise-text {
  font-weight: 600;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex.collapsed .prise-text {
  font-weight: 500;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex .show-acc-records .display-regnumber {
  font-weight: 600;
}

.real-time-payout-modal .panel-payout-root .panel-heading .row-flex.collapsed .show-acc-records .display-regnumber {
  font-weight: 500;
}

.real-time-payout-modal .panel-payout-root .panel {
  margin: 0;
  margin-bottom: 0;
  border-radius: 0px;
  border-color: #eee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.real-time-payout-modal .panel-payout-root .panel-body {
  padding: 0;
  border: none;
  border-color: #eee;
}

.real-time-payout-modal .panel-payout-root .panel-body .text-user p {
  margin-bottom: 0;
  padding: 8px 15px;
}

.real-time-payout-modal .panel-payout-root .panel-body .row-flex {
  border: 0px solid #eee;
  border-bottom: 1px solid #eee;
}

.real-time-payout-modal .panel-payout-root .user-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.real-time-payout-modal .panel-payout-root .user-title h4 {
  padding: 8px 15px;
  margin: 0;
  background-color: #eee;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/* End of real-time-payout-modal */
/*  revenue-modal-slider  */
.icon-revenue {
  width: 24px;
}

.revenue-modal-slider {
  max-width: 100%;
  width: 100%;
}

.revenue-modal-slider .content-wrapper.content-area-div {
  width: 100%;
  max-width: 100%;
  display: block;
}

.revenue-modal-slider .modal-header {
  padding: 0px 0px 0px 10px;
}

.revenue-modal-slider .modal-header .close.btn-animated {
  right: auto;
  left: auto;
  top: auto;
  position: relative;
}

.revenue-modal-slider .middle-area-div {
  padding: 40px 20px;
}

.revenue-modal-slider .modal-dialog .modal-content .modal-body {
  overflow-y: scroll;
}

.revenue-modal-slider .top-filter-section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sessions-form-modal {
  max-width: 100%;
  width: 100%;
}

.sessions-form-modal .modal-dialog .modal-content .modal-body {
  overflow-x: hidden;
}

.sessions-form-modal.comments-modal-right .modal-dialog {
  margin: 20px auto 0 auto !important;
  width: 600px;
  min-height: 95%;
  width: 100%;
  max-width: 1200px;
}

.revenue-modal-slider .page-header.page-header-top {
  margin: 0 0 0px 1px !important;
}

/* End of revenue-modal-slider  */
/* Class Revenue Tracker */
.heading-title-top {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-title-top h1 {
  background-color: #fff;
  padding: 10px 15px;
  margin: 0;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
}

span.gross-prize {
  font-weight: 500;
}

/* End of Class Revenue Tracker */
/*  Login  */
.free-trial-login-popup .modal-header {
  border: none;
  padding: 0;
  min-height: 0;
}

.free-trial-login-popup .modal-header .close.btn-animated {
  right: 20px;
  left: auto;
  top: 15px;
  color: #fff;
  opacity: 1;
  z-index: 1;
}

.free-trial-login-popup .modal-dialog .modal-content .modal-body {
  min-height: 100%;
  max-height: none;
}

.free-trial-login-popup .modal-content {
  background: #000 url(../images/blue-filter.png) no-repeat;
  background-size: cover;
  min-height: 100%;
}

.free-trial-login-popup .login-div {
  height: auto;
  padding: 70px 0;
  min-height: calc(100vh - 52px);
}

.free-trial-login-popup .login-div .container {
  width: 100%;
  max-width: 1100px;
}

.free-trial-login-popup .logo-div-left {
  height: auto;
  min-height: 350px;
}

.free-trial-login-popup .login-btn-div {
  position: relative;
}

.free-trial-login-popup .checked-icon-div {
  position: absolute;
  top: 0;
  right: -56px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.free-trial-login-popup .checked-icon-div .icon-check {
  width: 36px;
}

.free-trial-login-popup .login-btn-div.active .checked-icon-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* End of Login  */
@media screen and (max-width: 767px) {
  .notification-icon-1 {
    background-position: top left;
  }
  .full-modal-100 {
    position: fixed;
  }
  .full-modal-100 .modal-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-modal-100 .dashboard-body-section {
    float: none;
  }
  .full-modal-100 .analytics-number-view {
    float: none;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col {
    padding: 10px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col .content-right h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col .icon-round-box {
    height: 50px;
    width: 50px;
  }
  .full-modal-100 .pr-graph-0 {
    padding-right: 15px;
  }
  .full-modal-100 .panel-graph .round-graph-common {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-modal-100 .panel-graph .round-graph-common .graph33 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    border-left: 0px solid #EDEDED;
  }
  .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .bottom-section-div {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    padding: 20px 20px 15px 20px;
    background-color: #fafafa;
    text-align: center;
  }
  .full-modal-100 .panel-graph .heading-top-graph h5 {
    font-size: 14px;
  }
  .full-modal-100 .panel-graph .heading-top-graph h2 {
    font-size: 24px;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div h3 {
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div .box {
    border: none;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .panel-body-content {
    padding: 10px 0px 0 0;
  }
  .full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .rate-span {
    height: 5px;
    width: 5px;
    left: 8px;
    top: 17px;
  }
  .full-modal-100 .panel-graph.panel-graph-demo .graph100 .round-graph-pointer .box {
    padding: 10px 15px 0 20px;
  }
  /* project-management */
  .comments-modal-right {
    position: fixed;
    right: auto;
    top: 0;
    bottom: auto;
  }
  .comments-modal-right .modal-dialog .modal-content {
    height: 100vh;
    overflow-y: scroll;
  }
  .collab-comments-modal .modal-dialog .modal-content {
    border-radius: 10px 10px 0 10px !important;
  }
  .collab-comments-modal .modal-dialog .modal-content .modal-body {
    padding: 0 10px;
  }
  .collab-comments-modal .modal-dialog .modal-content .modal-body .main-body-collab {
    padding: 5px 10px;
  }
  div#add-task-collab {
    z-index: 99999999 !important;
  }
  .collab-comments-modal .comment-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .collab-comments-modal .Comment-chats2 .profile-cmnt {
    padding-bottom: 5px;
  }
  .Comment-chats2 .comment-times .dropdown a.drop-down-comment i {
    margin: 0 5px 0 0;
    font-size: 20px;
  }
  /* End of project-management */
  /* notification-modal */
  .notification-section-modal .notification-list-view .list-items .list-content {
    width: calc(100% - 50px);
    position: relative;
    margin: 0;
  }
  .notification-section-modal .notification-list-view .list-items .list-content span.closebtn {
    opacity: 1;
    right: -15px;
    top: -20px;
    font-size: 24px;
    height: 24px;
    width: 24px;
    border-radius: 0px 4px 0 10px;
  }
  .notification-section-modal .notification-list-view .list-items span.time-update {
    font-size: 12px;
    line-height: 26px;
  }
  .comments-modal-right.animated {
    width: 100%;
  }
  /* End of notification-modal */
  /* real-time-payout-modal */
  .real-time-payout-modal .topic-header-realtime h2 {
    font-size: 16px;
  }
  .real-time-payout-modal .topic-header-realtime .icon-prjctmgmt {
    margin-right: 10px;
  }
  .real-time-payout-modal .text-top-next h4 {
    font-size: 14px;
  }
  .real-time-payout-modal .real-table-div .user-img-div .img-thumb {
    padding: 8px 10px 8px 10px;
    min-width: 55px;
  }
  .real-time-payout-modal .real-table-div .user-img-div .text-user p {
    max-width: 125px;
  }
  .real-time-payout-modal .real-table-div .footer-table-real h5 {
    padding: 0 0 0 10px;
    font-size: 14px;
  }
  /* End of real-time-payout-modal */
  /*  revenue-modal-slider  */
  .revenue-modal-slider .content-area-div {
    margin: 0 auto 0 auto;
    padding: 0;
  }
  .revenue-modal-slider .page-header-top .page-title {
    padding: 12px 20px 12px 0;
  }
  .revenue-modal-slider .middle-area-div {
    padding: 20px 20px;
  }
  /*  End of revenue-modal-slider  */
  /*  Login  */
  .free-trial-login-popup .modal-dialog .modal-content {
    margin: 0 0 0 0;
  }
  .free-trial-login-popup .modal-dialog .modal-content .modal-body {
    min-height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .free-trial-login-popup .logo-div-left {
    height: auto;
    min-height: auto;
    margin: 0;
  }
  .free-trial-login-popup .login-div {
    min-height: 100vh;
    padding: 50px 0;
  }
  .free-trial-login-popup .modal-header .close.btn-animated {
    right: 10px;
    top: 10px;
  }
  .free-trial-login-popup .login-btn-div.active .free-trial-submit {
    width: calc(100% - 56px);
  }
  .free-trial-login-popup .login-btn-div.active .checked-icon-div {
    right: 0;
  }
}

@media screen and (max-width: 340px) {
  .real-time-payout-modal .topic-header-realtime .icon-prjctmgmt {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
  .real-time-payout-modal .real-table-div .flex-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .real-time-payout-modal .real-table-div .show-acc-records {
    padding: 5px 10px;
  }
  .real-time-payout-modal .real-table-div .prise-text {
    padding: 8px 10px 8px 10px;
  }
  .real-time-payout-modal .panel-payout-root .user-title h4 {
    padding: 8px 10px;
    font-size: 14px;
  }
  .real-time-payout-modal .panel-payout-root .panel-body .text-user p {
    padding: 8px 10px;
    font-size: 12px;
  }
  .real-time-payout-modal .panel-payout-root .panel-body .prise-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .notification-icon-1 {
    background-position: top left;
  }
  .full-modal-100 {
    position: fixed;
    z-index: 999999999;
  }
  .full-modal-100 .dashboard-body-section {
    float: none;
  }
  .full-modal-100 .analytics-number-view {
    float: none;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col {
    padding: 10px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col .content-right h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .full-modal-100 .analytics-number-view .analytics-list-row .analytics-list-col .icon-round-box {
    height: 50px;
    width: 50px;
  }
  .full-modal-100 .pr-graph-0 {
    padding-right: 15px;
  }
  .full-modal-100 .panel-graph .round-graph-common .pie-charts-div .bottom-section-div {
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    padding: 20px 20px 15px 20px;
    background-color: #fafafa;
    text-align: center;
  }
  .full-modal-100 .panel-graph .heading-top-graph h5 {
    font-size: 14px;
  }
  .full-modal-100 .panel-graph .heading-top-graph h2 {
    font-size: 24px;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .pie-charts-div .bottom-section-div h3 {
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .panel-body-content {
    padding: 10px 0px 0 0;
  }
  .full-modal-100 .panel-graph.panel-graph-donut .donut-chart-root svg {
    max-width: 660px;
    max-height: 351px;
    margin: 0 auto;
  }
  div#add-task-collab {
    z-index: 99999999 !important;
  }
  .collab-comments-modal {
    left: 0;
  }
  .collab-comments-modal .modal-dialog {
    width: 100%;
  }
  .collab-comments-modal .modal-dialog .modal-content {
    border-radius: 10px 10px 0 10px !important;
  }
  .collab-comments-modal .modal-dialog .modal-content .modal-body {
    padding: 0 10px;
  }
  .collab-comments-modal .modal-dialog .modal-content .modal-body .main-body-collab {
    padding: 5px 10px;
  }
  /* notification-modal */
  .notification-section-modal .notification-list-view .list-items .list-content {
    width: calc(100% - 50px);
    position: relative;
    margin: 0;
  }
  .notification-section-modal .notification-list-view .list-items .list-content span.closebtn {
    opacity: 1;
    right: -5px;
  }
  .notification-section-modal .notification-list-view .list-items span.time-update {
    font-size: 12px;
    line-height: 26px;
  }
  .comments-modal-right.animated {
    width: 100%;
  }
  /* End of notification-modal */
  /*  revenue-modal-slider  */
  .revenue-modal-slider .content-area-div {
    margin: 0 auto 0 auto;
    padding: 0;
  }
  .revenue-modal-slider .page-header-top .page-title {
    padding: 12px 20px 12px 0;
  }
  .revenue-modal-slider .middle-area-div {
    padding: 20px 20px;
  }
  /*  End of revenue-modal-slider  */
  /*  Login  */
  .free-trial-login-popup .modal-dialog .modal-content {
    margin: 0 0 0 0;
  }
  .free-trial-login-popup .modal-dialog .modal-content .modal-body {
    min-height: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .free-trial-login-popup .logo-div-left {
    height: auto;
    min-height: auto;
    margin: 0;
  }
  .free-trial-login-popup .login-div {
    min-height: calc(100vh - 10px);
    padding: 50px 0;
  }
  .free-trial-login-popup .login-form {
    margin: 0 auto;
    padding: 0px 0 0 0;
    max-width: 400px;
  }
  .free-trial-login-popup .modal-header .close.btn-animated {
    right: 10px;
    top: 10px;
  }
  .free-trial-login-popup .login-btn-div.active .free-trial-submit {
    width: calc(100% - 56px);
  }
  .free-trial-login-popup .login-btn-div.active .checked-icon-div {
    right: 0;
  }
  .free-trial-login-popup .logo-div-left .img-thumb img {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .free-trial-login-popup .logo-div-left .img-thumb img {
    width: 300px;
    height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 1499px) and (max-width: 1900px) {
  .active-general-01 .data-table-1.table-div .table > tbody > tr > td.width-25per, .table > thead > tr > th.width-25per {
    width: 25% !important;
    float: none;
    max-width: 232px !important;
  }
  .active-general-01 .data-table-1.table-div .table > tbody > tr > td.width-25per .list-inline.class-summary-inline01, .table > thead > tr > th.width-25per .list-inline.class-summary-inline01 {
    max-width: 220px !important;
  }
}
/*# sourceMappingURL=general-style.css.map */