.analytics-icon-1 {background: url(../images/icons/lfk-analytics-yellow.png) no-repeat;width: 25px;height: 25px;display: inline-block;background-size: contain;}
.analytics-icon-1:hover {background: url(../images/icons/lfk-analytics-white.png) no-repeat;width: 25px;height: 25px;display: inline-block;background-size: contain;}


.full-modal-100{ width: 100%;}
.full-modal-100 .modal-dialog{  width: 100%; max-width: 1200px; margin: 0 auto !important; }
.full-modal-100 .modal-header .close.btn-animated {
    right: 30px; left: auto;
    top: 30px;
}
h4 {
    font-size: 24px;
    color: #000000;
    letter-spacing: -0.5px; font-weight: 700;
}